#documentation ul {
    list-style: disc;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

#documentation ol {
    margin: 0px;
    padding: 0px;
}

#documentation ul li {
    margin-left: 20px;
    list-style: disc;
    list-style-position: inside;
}

#documentation ol li {
    margin-left: 20px;
    list-style: decimal;
    list-style-position: inside;
}

#documentation h1 {
    padding-bottom: 20px;
}

#documentation h2,
#documentation h3,
#documentation h4,
#documentation h5 {
    padding-bottom: 10px;
    padding-top: 10px;
}

#documentation a {
    color: #4bc28b;
    text-decoration: none;
    font-weight: normal;
}

#documentation a:hover {
    color: #1d6145;
}

#documentation img {
    display: block;
    margin: 40px auto;
    box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
}

#documentation .list-group-item.active {
    /* color: #fff; */
    background-color: unset;
    border-color: #4bc28b;
}

#documentation .list-group-item .active {
    border-color: #4bc28b;
}

#documentation .list-group-item.active {
    color: #4bc28b;
    font-weight: 700;
}

#documentation table {
    min-width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    margin-bottom: 35px;
    border-collapse: unset;
}

#documentation tr :first-child {
    width: 30%
}

#documentation tr :last-child {
    border-left: 1px solid rgb(221, 221, 221);
}

#documentation tr td strong {
    border-left: 0px !important;
}

#documentation td {
    padding: 5px 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#documentation th {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 5px 20px;
}

#documentation tr:last-child td {
    border-bottom: none;
}


#documentation code {
    background-color: #f8f7f7;
    /* border: 2px solid #e2e2e2; */
    border-radius: 3px;
    padding: 2px;
    color: #4bc28b
}

#documentation pre {
    width: max-content;
    padding: 10px;
    border-left: 5px solid #4CAF50;
    background-color: #f8f7f7;
    color: #616161 !important;
}

#documentation pre code {
    border: unset;
    padding: unset;
    background: unset;
    color: unset
}

#documentation .navigation-div {
    margin-top: 50px;
}

#documentation h4.list-group-heading {
    margin-bottom: 0;
}

#documentation h4.list-group-heading:hover {
    cursor: pointer;
    color: #4bc28b;
}

#documentation .list-group-item {
    border: none;
}