
#documentation ul {
    list-style: disc;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

#documentation ul li{
    margin-left : 20px;
    list-style: disc;
    list-style-position: inside;
}

#documentation ol li {
    margin-left: 20px;
    list-style: decimal;
    list-style-position: inside;
}
#documentation h1 {
    padding-bottom: 20px;
}
#documentation h2, h3, h4, h5 {
    padding-bottom: 10px;
    padding-top: 10px;
}

#documentation a {
    color: #4bc28b;
    text-decoration: none;
    font-weight: normal;
}

#documentation a:hover {
    color: #1d6145;
}

#documentation img {
    display: block;
    margin: 40px auto;
    box-shadow: 0px 0px 5px 0px rgba(158,158,158,1);
}

#documentation .list-group-item.active {
    color: #fff;
    background-color: #4bc28b;
    border-color: #4bc28b;
}

#documentation .list-group-item.active > a {
    color: #fff;
}

#documentation table {
    min-width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    margin-bottom: 35px;
    border-collapse: unset;
}

#documentation tr :first-child {
    width: 30%
}

#documentation tr :last-child {
    border-left: 1px solid rgb(221, 221, 221);
}

#documentation tr td strong {
    border-left: 0px !important;
}

#documentation td {
    padding: 5px 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#documentation th {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 5px 20px;
}

#documentation tr:last-child td {
    border-bottom: none;
}