#freeTrialButton{
    background-color:rgb(88,156,7);
    color:white;
    margin-top:20px;
    padding:5px 25px
}

#freeTrialButton:hover{
    background-color :rgb(75,132,6) !important
}
.hvr-underline-from-left1{
    padding-top:35px;
    color:#555
}
.hvr-underline-from-left1:hover{
    color:#555 !important
}

@media only screen and (max-width:762px){
    .main-header .main-box .logo-box{
        padding-top:20px
    }
    #freeTrialButton{
        display : none
    }
}
@media only screen and (min-width:762px){
    .main-header .main-box .logo-box{
        padding-top:25px
    }
}
@media only screen and (max-width:762px){
    .hvr-underline-from-left1{
        color:white !important
    }
    .main-banner{
        padding-top:70px !important;
        padding-bottom:30px !important
    }
    .auto-container{
        padding-bottom:5px
    }
    #navigationButtonDiv{
        background-color:rgb(249,253,244);
        padding-bottom:13px
    }
}

.main-header .main-box .outer-container,.main-header.fixed-header .main-box{
    background-color:rgb(249,253,244) !important}

.addBottomBorder{
    border-bottom:1px solid rgba(0,0,0,0.10)
}

body {
    color : #555
}
#showdownDiv ul{
    list-style:disc;
    list-style-position:inside;
    padding:0px;
    margin:0px;
}

#showdownDiv ul li, #showdownDiv ol li{
    margin-left : 20px;
} 

#showdownDiv h1{
    padding-bottom : 20px;
    font-weight : 700;
}
#showdownDiv h2, h3, h4, h5 {
    padding-bottom : 10px;
    padding-top : 10px;
    font-weight : 700;
}
#showdownDiv img {
    margin : 10px;
}
#showdownDiv a {
    color : rgb(88, 156, 7);
}

#showdownDiv a:hover {
    color :rgb(75,132,6)
}
#breadcrumbs a, #sitemap a{
    color : #555
}
#breadcrumbs a:hover, #sitemap a:hover{
    color :rgb(75,132,6)
}   
table{
    min-width : 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius : 4px;
    margin-bottom : 35px;
    border-collapse : unset;
}
tr :first-child{
    width : 30%;
}
tr :last-child{
    border-left : 1px solid rgb(221, 221, 221);
}
tr td strong{
    border-left : 0px !important; 
}
td {
    padding : 5px 20px;
    border-bottom : 1px solid rgb(221, 221, 221);
}
th {
    background-color : rgb(245, 245, 245);
    border-bottom : 1px solid rgb(221, 221, 221);    
    padding : 5px 20px;
}
tr:last-child td{
    border-bottom : none 
}

@media only screen and (max-width: 762px){
    .banner-two{
        max-width : 1200px;
        text-align : left !important;
        max-height: 30vh;
    }

}
@media only screen and (min-width: 762px){
    .banner-two{
        max-width : 1200px;
        text-align : left !important;
        max-height: 50vh;
    }
}


