/*imported from style.css*/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
body {
    font-family: 'Roboto',  sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #1f8ceb;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-family: 'Roboto',  sans-serif;
    font-weight: 400;
    margin: 0px;
    background: none;
    line-height: 1.4em;
}
input, button, select, textarea {
    font-family: 'Roboto',  sans-serif;
}
textarea {
    overflow: hidden;
}
p {
    position: relative;
    line-height: 1.6em;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.theme-btn {
    display: inline-block;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.btn-style-one {
    position: relative;
    padding: 12px 45px;
    line-height: 26px;
    background: #1f8ceb;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Roboto',  sans-serif;
    border-radius: 4px;
}
.btn-style-one:hover {
    color: #ffffff;
    background: #3b566e;
}
.main-header {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-header .auto-container {
    position: relative;
    max-width: 1800px;
}
.main-header.alternate .auto-container, .main-header.header-style-two .auto-container {
    max-width: 1200px;
}
.main-header .main-box {
    position: relative;
    left: 0px;
    top: 30px;
    width: 100%;
    padding: 0px 50px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-header.header-style-two .main-box {
    top: 0px;
    background: rgba(255, 255, 255, 0.30);
}
.main-header .main-box:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    height: 0px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-header.fixed-header .main-box:after, .main-header.header-style-two .main-box:after {
    opacity: 1;
}
.main-header.fixed-header .main-box {
    position: fixed;
    top: 0px;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    background-color: #ffffff;
}
.main-header.header-style-two.fixed-header .main-box {
    top: 0px;
    background: rgba(0, 0, 0, 0.90);
}
.main-header .main-box .outer-container {
    position: relative;
}
.main-header .main-box .logo-box {
    position: relative;
    float: left;
    left: 0px;
    padding: 15px 0px;
}
.main-header .main-box .logo-box .logo img {
    display: inline-block;
    max-width: 100%;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-header .nav-outer {
    position: relative;
    float: right;
}
.main-header .nav-outer .other-links {
    position: relative;
    float: left;
    padding-top: 20px;
    margin-left: 50px;
}
.main-header.header-style-two .nav-outer .other-links {
    margin-left: 30px;
}
.main-header .nav-outer .other-links .btn-style-one {
    padding: 7px 40px;
}
.main-header.alternate .nav-outer .other-links .theme-btn {
    text-transform: capitalize;
    padding: 7px 32px;
}
.main-header.header-style-two .nav-outer .other-links .theme-btn {
    position: relative;
    text-transform: capitalize;
    color: #ffffff;
    top: 7px;
    line-height: 18px;
    font-size: 16px;
    padding: 2px 0px 0px 25px;
    border-left: 1px solid #ffffff;
}
.main-header.header-style-two .nav-outer .other-links .theme-btn:hover {
    text-decoration: underline;
}
.main-menu {
    position: relative;
    float: left;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.main-menu .navbar-collapse {
    padding: 0px;
}
.main-menu .navigation {
    position: relative;
    font-family: 'Roboto',  sans-serif;
}
.main-menu .navigation > li {
    position: relative;
    float: left;
    margin: 0px 0px 0px 40px;
}
.main-menu .navigation > li > a {
    position: relative;
    display: block;
    color: #555;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 0.01em;
    opacity: 1;
    padding: 25px 0px;
    font-size: 18px;
    font-weight: 500;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.header-style-two .main-menu .navigation > li > a {
    color: #ffffff;
}
.header-style-two .main-menu .navigation > li > a:before {
    bottom: auto;
    top: 0px;
    border-bottom-color: #ffffff;
}
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a, .main-menu .navigation > li.current-menu-item > a {
    color: #555;
    opacity: 1;
}
.header-style-two .main-menu .navigation > li:hover > a, .header-style-two .main-menu .navigation > li.current > a, .header-style-two .main-menu .navigation > li.current-menu-item > a {
    color: #ffffff;
}
.main-menu .navigation > li:hover > a:before, .main-menu .navigation > li.current > a:before, .main-menu .navigation > li.current-menu-item > a:before {
    width: 22px;
}
.header-style-two .main-menu .navigation > li:hover > a:before, .header-style-two .main-menu .navigation > li.current > a:before, .header-style-two .main-menu .navigation > li.current-menu-item > a:before {
    width: 100%}
.main-menu .navigation > li > ul {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 240px;
    padding: 0px;
    z-index: 100;
    display: none;
    background: #ffffff;
    border-top: 2px solid green;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.main-menu .navigation > li > ul.from-right {
    left: auto;
    right: 100%}
.main-menu .navigation > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.main-menu .navigation > li > ul > li:last-child {
    border-bottom: none;
}
.main-menu .navigation > li > ul > li > a {
    position: relative;
    display: block;
    padding: 12px 20px;
    line-height: 22px;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    color: #222222;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.main-menu .navigation > li > ul > li:hover > a {
    background: green;
    color: #ffffff;
}
.main-menu .navigation > li > ul > li.dropdown > a:after {
    font-family: 'FontAwesome';
    content: "\f105";
    position: absolute;
    right: 10px;
    top: 12px;
    width: 10px;
    height: 20px;
    display: block;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    z-index: 5;
}
.main-menu .navigation > li > ul > li > ul {
    position: absolute;
    left: 100%;
    top: 20px;
    width: 220px;
    padding: 0px;
    z-index: 100;
    display: none;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}
.main-menu .navigation > li > ul > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.main-menu .navigation > li > ul > li > ul > li:last-child {
    border-bottom: none;
}
.main-menu .navigation > li > ul > li > ul > li > a {
    position: relative;
    display: block;
    padding: 12px 20px;
    line-height: 22px;
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
    color: #222222;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.main-menu .navigation > li > ul > li > ul > li > a:hover {
    background: green;
    color: #ffffff;
}
.main-menu .navigation > li.dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 100%}
.main-menu .navigation li > ul > li.dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 34px;
    height: 30px;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #3b566e;
    background: #ffffff;
    cursor: pointer;
    z-index: 5;
    display: none;
}
.main-banner {
    position: relative;
    z-index: 1;
}
.banner-two {
    position: relative;
    padding: 270px 0px;
}

#freeTrialButton:hover {
    background-color: rgb(75,  132,  6);
}

/* desktop css */
@media only screen and (min-width:1200px) {
	/* edited css used throughout*/
	.left-aligned{
        text-align: left !important;
    }
	.extra-bottom-padding{
        padding-bottom : 30px !important;
    }
    #mobileOnlySection{
        display : none !important;
    }
    .row{
        margin : 0;
    }
	#banner{
        background-color : #4bc28b;
        background-repeat: no-repeat;
        background-size : cover;
        background-position: center center;
    }
    .placeholder{
        height: 116px;
        width: 100%;
        background-color : #4bc28b
    }
    .auto-container{
        max-width: 1100px;
        margin : 0 auto;
        padding : 0;
    }
	#siteHeading{
        color : white;
        font-size : 3em;
        line-height: 1.2em;
        font-weight: 600;
    }
	
	
	
	
	/* header css */
	.main-header .main-box .outer-container, .main-header .fixed-header .main-box, .main-header .main-box, .main-header {
        background-color: #4bc28b;
        transition: all 300ms ease;
    }
    .main-header .main-box{
        padding : 10px 0;
    }
    .main-header{
        padding-bottom : 50px;
    }
    .hide-me{
        display: none;
    }
    .main-menu .navigation > li {
        margin-left : 40px;
    }
    .main-menu .navigation > li > a{
        color : white;
        font-size: 1.1em;
        font-weight: 500 !important;
        padding : 0;
    }
    .main-menu .navigation > li > a:hover {
        color : white;
    }
    .header-inverse, .header-inverse .main-box .outer-container, .header-inverse .fixed-header .main-box {
        z-index : 1000;
        background-color: white;
        transition: all 300ms ease;
    }
    .header-inverse .navigation > li > a{
        color : #4bc28b;
    }
    .header-inverse .navigation > li > a:hover{
        color : #4bc28b;
    }
    .main-header.fixed-header .main-box {
        box-shadow:  0 2px 30px 0 rgb(144, 144, 144, 0.2);
    }
    #freeTrialButton {
        font-weight: 500;
        font-size : 1.1em;
        background-color: white;
        color: #4bc28b;
        border : 2px solid white;
        padding: 8px 30px;
    }
    #freeTrialButton:hover {
        background-color : #eeeeee !important;
        border : 2px solid #eeeeee;
        
    }
    #freeTrialButtonInverse {
        font-weight: 500;
        font-size : 1.1em;
        background-color: #4bc28b;
        border : 2px solid #4bc28b;
        color: white;
        padding: 8px 30px;
    }
    #freeTrialButtonInverse:hover {
        background-color : #1d6145;
        border : 2px solid #1d6145;
    }
    .header-container{
        max-width: 1100px;
        margin : 0 auto;
        display : flex;
        align-items: center; 
        justify-content: space-between;
    }
    .header-container > .auto-container{
        max-width: unset;
    }
    .logo-container{
        display : flex;
        align-items: center;
        justify-content: flex-start;
    }
    .navigation{
        display : flex;
        justify-content: flex-end;
        align-items: center;
    }
	.navbar-container{
        display : flex;
        justify-content: flex-end;
    }
    .navbar-collapse::after{
        display : none;
    }
    .main-header .main-box::after{
        display: none;
    }
	
	
	
	/* footer css */
	footer{
        background-color: #4bc28b;
        color : white;
        text-align : center;
        padding : 50px;
    }
    footer h1{
        font-weight: 900;
        margin-bottom : 25px;
    }
    footer input{
        margin-top : 25px;
        font-weight: 500;
        width : 30%;
        padding : 5px 20px;
        border-radius : 5px;
        color : #444;
    }
    footer button{
        font-weight: 500;
        background-color: #4bc28b;
        border-radius : 4px;
        border: 2px solid white;
        padding : 8px 30px; 
        margin-left : 15px;
        font-size : 1.1em;
    }

    footer .links {
        margin : 25px 0 50px 0;
    }
    footer .links a {
        color : white; 
        margin : 0 25px;
    }
	
	
	
	
	/* landing page css */
	/* landing page - banner and heading */
	.banner-two{
        padding : 8vh 0 8vh 0;
    }
    .banner-two .text-column p{
        margin-bottom : 15px;
        font-size: 1.2em;
        font-weight: 800;
    }
   .landing-feature-heading {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 25px !important;
    }
	.text-column .inner hr{
        margin-top : 35px;
        margin-bottom : 30px;
    }
    .inner{
        max-width: 1100px;
        margin : 0 auto;
        text-align : center;
    }
    #smallText{
        color : #1d6145;
        font-weight : bold;
    }
    
    #documentationText{
        display : flex;
        justify-content: center;
        align-items: center;
        margin-bottom : 50px;
    }
    #documentationText div{
        margin-left : 70px;
    }
    #documentationText span{
        margin-left : 40px;
    }
    #documentationText a {
        font-weight: 900;
        color : #1d6145;
    }
    .inner hr{
        margin-right : auto;
        margin-left : auto;
        border-top : 2px solid #1d6145;
        width : 10%;
    }
    #documentationButton {
        font-size: 1.1em;
        font-weight: 500;
        color : white;
        background: #4bc28b;
        border : 2px solid white;
        border-radius : 5px;
        padding : 8px 30px ;
    }
    #documentationButton:hover {
        background: white;
        color : #4bc28b
    }
    .inner div span {
        color : #1d6145;
    }
	/* landing page - gif */
	#myCarousel{
        background-color : transparent;
        margin-top : -30vh;
        z-index : 2;
        display : flex;
        flex-direction : column;
        align-items : center;
        width : 100%;
    }
    #myCarousel > img:first-child {
        width : 660px !important;
    }
	#myCarousel > img:last-child {
        width : 813px !important;
    }
	
	/* landing page - features */
    .features-section{
        background-color : white;
        color : #444;
        text-align: center;
        padding : 50px 0;
    }
	.feature{
        margin-bottom : 100px !important;
        
    }
    
	.features-section h1{
        font-weight: 900;
        text-align: center;
        padding-bottom : 60px;
    }
    .feature-heading{
        display : flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom : 25px !important;
    }
	.landing-feature-heading img {
        margin-right : 25px;
    }
    .landing-feature-heading h3 {
        font-weight : 600;
    }
	.feature-button:hover{
        background-color: #444;
        color : white;
    }
    /* landing page - pricing */
	.pricing {
        color : white;
        padding : 100px;
        background-color : #4bc28b;
    }    
    .pricing p {
        padding-top : 20px;
        font-size  : 1.1em;
        line-height: 40px;
    }
	/* landing page - setting-up-par */
	.setup-intro-section{
        color : #444;
        text-align: center;
        padding-bottom : 100px;
    }
    .setup-intro-section h1{
        padding : 50px 50px 60px 50px;
        font-weight: 900;
    }
    .setting-up-par{
        font-size : 3em;
        font-weight: 900;
        display : flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        margin-bottom : 100px;
    }
    .setting-up-par img{
        margin: 0 40px;
    }
    .setting-up-par span{
        color : #4bc28b;
    }
	/* end of landing page css */
	/* features page - features */
	#feature-beginning{
        margin-top : 100px;
    }
	#noInstallationDiv > div{
        justify-content : flex-end;
    }
    #noInstallationDiv  h2{
        text-align : right !important
    }
    #noInstallationDiv  .icon{
        width : 70px; 
        height: 70px; 
        margin : 0 0 0 25px !important;
    }
    #noInstallationDiv  p {
        text-align : right !important
    }
    #noInstallationDiv, #maintainabilityImg, #synchroDiv{
        padding-right : 25px !important;
    }
    #synchroDiv > .feature-heading{
        min-height : 100px
    }
    #noInstallationImg, #maintainabilityDiv, #boxDiv{
        padding-left : 25px !important;
    }
    #boxDiv > .feature-heading{
        min-height : 100px;
    }
    .feature div:first-child{
        padding-left : 0 !important;
    }
    .feature div:last-child{
        padding-right : 0;
    }
    .feature .special-division:first-child{
        padding-left : 0;
    }
    .feature .special-division:last-child{
        padding-right : 0;
    }
    .feature h2{
        text-align: left;
        font-weight: 600;
        margin-bottom : 50px;
    }
    .feature-heading h2{
        margin-bottom : 0;
        margin-left : 25px;
        
    }
    .feature p{
        text-align : left;
        line-height : 36px !important;
    }
    .feature-button {
        margin-top : 70px;
        background-color: white;
        color : #444;
        border : 2px solid #444;
        font-size : 1.1em;
        font-weight: 700;
        padding : 8px 30px;
    }
    .feature .shadow{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        width : 100%;
    }
    .feature .feature-image-section, .feature .feature-image-section img{
        padding : 0;
    }
    .flex-image-box :first-child{
        padding-right : 25px !important;
    }
    
    .flex-image-box :last-child{
        padding-left : 25px !important;
    }
    .feature-image-section{
        margin-top : 50px;
    }
    
    .feature .flex-image-box{
        display : flex;
        justify-content : space-between;
        flex-wrap: nowrap;
        align-items : center;
    }
    .feature .icon{
        height : 70px;
        width : 70px;
        margin : 0 25px 25px 0 ;
    }
    .feature .icon{
        margin : 0 !important;
    }


	/* thank-you page css */
    .thank-you{
        padding : 50px 0;
    }
    .thank-you-placeholder{
        height : 130px;
    }
    
	/* pricing page css */
	
	
    /* start using testissimo page */
    #startTestButton{
        width : 100%;
        color : white;
        background-color: #4bc28b;
        font-size : 1.1em;
        padding : 8px 30px;
    }
    #startTestButton:hover{
        background-color: #1d6145;
    }
    #showOffSection{
        text-align: center;
        padding : 50px;
    }
    #showOffSection hr{
        margin-top : 50px;
    }
    #showOffSection ol li{
        text-align: left;
        list-style: decimal inside;
    }
    #showOffSection div{
        padding : 0;
    }
    #showOffSection p, #showOffSection h1{
        text-align: left;
    }
    #showOffSection .greenCode{
        margin-top : 25px;
    }
    #testForm #firstTestSubmitButton{
        font-size : 1.1em; 
        font-family: 'Roboto', sans-serif;
        padding : 8px 30px; 
        background-color : #4bc28b; 
        color : white; 
        border-radius : 4px;
    }
    #testForm #firstTestSubmitButton:hover{
        background-color : #1d6145;
    }
    #testForm #firstTestResestButton{
        font-size : 1.1em; 
        padding : 8px 30px; 
        background-color : salmon; 
        color : white; 
        border-radius : 4px;
    }
    #testForm #firstTestResestButton:hover{
        background-color : crimson !important;
    }
    pre {
        background-color : #EEE;
        padding : 15px;
        border : none;
        border-radius : 5px;
        color : #4bc28b;
        width : auto;
        clear : both;
    }
    pre code{
        background-color : #EEE;
        padding : 15px;
        border-radius : 5px;
        color : #4bc28b;
        font-weight: 700;
        font-family: monospace;
        width : auto;
        clear : both;
    }
    
    #startTestissimoSection p{
        margin-top : 25px;
    }
    #startTestissimoButton{
        background-color: #4bc28b;
        color : white;
        margin-top : 25px;
        padding : 8px 30px;
        font-size : 1.1em;
        font-weight: 500;
        border : 2px solid #4bc28b
    }
    #startTestissimoButton:hover{
        background-color : #1d6145;
        border : 2px solid #1d6145;
    }
    #start-using-testissimo section{
        padding: 0px 0px 50px 0;
    }
    #startTestissimoContainer section, #thankYouContainer section{
        padding : 50px 0;
        min-height : 60vh;
    }
    #start-using-testissimo section h1{
        padding-bottom: 25px;
    }
    #testissimoShowOffSection{
        font-family: inherit;
        line-height: 1.6em;
        color : #444;
    }
    #alreadyRegisteredButton{
        color : #4bc28b;
        background-color: white;
        padding : 8px 30px;
        border : solid 2px #4bc28b;
        font-weight : 500;
        font-size : 1.1em;
    }
    #alreadyRegisteredButton:hover{
        background-color: #4bc28b;
        color : white;
    }
	/* end of start using testissimo page css */
}

@media only screen and (max-width : 1200px){
    /* css used all over the site */
    #mobileMenu{
        min-width : 100%;
        text-align: center;
        padding-bottom : 20px;
    }
    #mobileMenu div {
        margin : 5px 25px !important;
        padding : 5px;
        background-color : white;
        text-align : center;
	}
	#mobileMenu div a{
        color : #4bc28b
    }
    #navbar-button{
        padding : 0px !important;
        background-color : #4bc28b;
        border : 2px solid white;
    }
    #navbar-button button{
        padding : 5px;
        color : white;
        background-color : #4bc28b;
        border : none;
        width : 100%;
    }
    
    .main-menu .navigation > li > a{
        color : white;
        font-size: 1.1em;
        font-weight: 500;
        padding : 0;
    }
    .main-menu .navigation > li > a:last-child{
        padding-right: 25px;
    }
    .main-menu .navigation > li > a:hover {
        color : white;
    }
    .header-inverse, .header-inverse .main-box .outer-container, .header-inverse .fixed-header .main-box {
        background-color: #4bc28b;
        transition: all 300ms ease;
    }
    .header-inverse .navigation > li > a{
        color : white;
    }
    .header-inverse .navigation > li > a:hover{
        color : white;
    }
    .main-header.fixed-header .main-box {
        box-shadow:  0 2px 30px 0 rgb(144, 144, 144, 0.2);
        background-color : #4bc28b;
    }
    #freeTrialButton {
        font-weight: 500;
        font-size : 1.1em;
        background-color: white;
        color: #4bc28b;
        border : 2px solid white;
        padding: 8px 30px;
    }
    #freeTrialButton:hover {
        background-color : #eeeeee !important;
        border : 2px solid #eeeeee;
        
    }
    #freeTrialButtonInverse {
        font-weight: 500;
        font-size : 1.1em;
        background-color: #4bc28b;
        border : 2px solid #4bc28b;
        color: white;
        padding: 8px 30px;
    }
    #freeTrialButtonInverse:hover {
        background-color : #1d6145;
        border : 2px solid #1d6145;
    }
    .header-container{
        max-width: 1100px;
        margin : 0 auto;
        display : flex;
        align-items: center; 
        justify-content: space-between;
    }
    .header-container > .auto-container{
        max-width: unset;
    }
    .logo-container{
        display : flex;
        align-items: center;
        justify-content: flex-start;
    }
    .navigation{
        display : flex;
        justify-content: flex-end;
        align-items: center;
    }
    #myCarousel{
        text-align : center;
    }
    #myCarousel img:first-child{
        width : 81.35%;
    }
    #myCarousel img:last-child{
        width : 100% !important;
    }
    #banner{
        background-color : #4bc28b;
    }
    .placeholder{
        background-color : #4bc28b;
        height : 86px;
    }

    .banner-two{
        padding : 8vh 0 10vh 0;
    }
    .banner-two .text-column p{
        margin-bottom : 15px;
        font-size: 1em;
        font-weight: 600;
    }
    .text-column .inner hr{
        margin-top : 35px;
        margin-bottom : 30px;
    }
	.main-header .main-box .outer-container, .main-header .fixed-header .main-box, .main-header .main-box, .main-header {
        background-color: #4bc28b;
        transition: all 300ms ease;
    }
    .main-header .main-box{
        padding : 10px 0;
    }
    .hide-me{
        display: none;
    }
    .logo-container{
        margin-left : 25px;
    }
    .logo-box > img{
        width : 100%;
        height: 100%;
    }
    #logoBoxInverse{
        display : none !important;
    }
    #logoBoxBasic{
        display : block !important;
    }
    
    .main-menu .navbar-header{
        padding : 0;
        margin : 0 25px;
        display : flex;
        align-content : center;
        justify-content: flex-end;
    }
    .icon-bar{
        background-color : white;   
    }
    .scrolled > .icon-bar{
        background-color : white;   
    }
    .inner{
        text-align : center;
    }
    /* landing-page css */
    #documentationButton:hover {
        background: white;
        color : #4bc28b
    }
    .inner div span {
        color : #1d6145;
    }
    #smallText{
        color : #1d6145;
        font-weight : bold;
        font-size : 0.9em;
    }
    #siteHeading{
        color : white;
        font-size : 2em;
        line-height: 1.2em;
        font-weight: 900;
    }
    #documentationText a {
        font-weight: 600;
        color : #1d6145;
    }
    .inner hr{
        margin-right : auto;
        margin-left : auto;
        border-top : 2px solid #1d6145;
        width : 20%;
    }
    #documentationButton {
        font-size: 1.1em;
        font-weight: 500;
        color : white;
        background: #4bc28b;
        border : 2px solid white;
        border-radius : 5px;
        padding : 8px 30px ;
        margin-bottom : 25px;
    }
    #documentationButton:hover {
        background: white;
        color : #4bc28b
    }
    .inner div span {
        color : #1d6145;
    }
    .features-section{
        background-color : white;
        color : #444;
        text-align: center;
        width : 100%;
        padding : 25px 0 !important;
    }
    .features-section .auto-container{
        padding : 0 25px !important;
    }
    .features-section .auto-container .row{
        margin : 0 0;
    } 
    
    .features-section h1{
        font-weight: 900;
        text-align: center;
        padding-bottom : 60px;
    }
    .hidden-on-mobile{
        margin-top : 15px;
        display : none;
    }
    .shown-on-mobile{
        width : 100%;
        margin-top : 15px;
        display : block;
    }
    .shown-on-mobile img{
        width : 100%;
        
    }
    #features-section{
        padding : 25px 0;
    }
    #noInstallation{
        text-align : left;
    }
    .feature-heading{
        display : flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color : #444;
    }
    .feature-heading h2{
        font-size : 20px;
        font-weight : 700;
        line-height : 30px;
        order : 2;
    }
    .feature-heading img {
        order : 1;
        width : 30px;
        height: 30px;
        margin-right : 15px;
    }
    .feature > div{
        padding : 0;
    }
    .feature{
        margin : 0 0 25px 0 !important;
    }
    .feature p{
        line-height: 2em;
        text-align : left;
        padding-bottom : 0px !important;
        color : #444;
    }
    .feature .shadow{
        width : 100%;
    }
    .feature-button {
        margin-top : 70px;
        background-color: white;
        color : #444;
        border : 2px solid #444;
        font-size : 1.1em;
        font-weight: 700;
        padding : 8px 30px;
    }
    .feature-button:hover{
        background-color: #444;
        color : white;
    }
    .feature h3{
        font-weight: 900;
    }
    .pricing {
        color : white;
        padding : 100px 0;
        background-color : #4bc28b;
    }    
    .pricing p {
        padding-top : 20px;
        font-size  : 1.1em;
        line-height: 40px;
    }
    .setup-intro-section{
        
        color : #444;
        text-align: center;
        padding-bottom : 50px;
    }
    .setup-intro-section h1{
        padding : 50px 50px 60px 50px;
        font-weight: 900;
    }
    .setting-up-par {
        
    }
    .setting-up-par {
        font-height : 36px;
        font-weight : 600;
    }
    #startTestissimoContainer{
        display : none;
    }
    #navigationButtonDiv{
        display : none;
    }
    #synchroDiv{
        margin-bottom : 25px;
    }
    
    
}


#pricing ul.timeline {
		text-align : left;
		list-style-type: none;
		position: relative;
		padding-left : 40px;
	}
	#pricing ul.timeline:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: 29px;
		width: 2px;
		height: 100%;
		z-index: 100;
	}
	#pricing ul.timeline > li {
		margin: 20px 0 !important;
		padding-left: 20px  !important;
	}
	#pricing ul.timeline > li.day {
		margin: 20px 0 !important;
		padding-left: 20px  !important;
		width : auto !important;
	}
	#pricing ul.timeline > li.month > a {
		font-weight : 600;
		color : #444;
		font-size : 2em;
	}
	#pricing ul.timeline > li.day > p {
		color : #444;
		padding-top : 0px;
		font-size : 1em;
	}
	#pricing ul.timeline > li.day > a {
		color : #4bc28b;
		padding-top : 0px;
		font-size : 1.2em;
	}
	#pricing ul.timeline > li.day > p.day-date, #pricing ul.timeline > li.billing > p.day-date {
		color : silver;
		font-size : 1em;
		font-weight : 400;
	}
	#pricing ul.timeline > li.billing > p {
		padding-top : 0px;
		color : #333;
	}
	#pricing ul.timeline > li.billing > a {
		color : #444;
		font-size : 1.2em;
		font-weight : 600;
	}
	#pricing ul.timeline > li.month:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 3px solid #1d6145;
		left: 20px;
		width: 20px;
		height: 20px;
		z-index: 400;
	}
	#pricing ul.timeline > li.day:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 1px solid #4bc28b;
		left: 20px;
		width: 20px;
		height: 20px;
		z-index : 400;
	}
	#pricing ul.timeline > li.billing:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 1px solid #444;
		left: 20px;
		width: 20px;
		height: 20px;
		z-index : 400;
	}
	footer{
        background-color: #4bc28b;
        color : white;
        text-align : center;
        padding : 25px;
    }
    footer h1{
        font-weight: 900;
        margin-bottom : 25px;
    }
    footer input{
        margin-top : 25px;
        font-weight: 500;
        padding : 8px 30px;
        border-radius : 5px;
        border : 2px solid white;
        color : #444;
    }
    footer button{
        margin-top : 15px;
        font-weight: 500;
        background-color: #4bc28b;
        border-radius : 4px;
        border: 2px solid white;
        padding : 8px 30px; 
        margin-left : 15px;
        font-size : 1.1em;
    }

    footer .links {
        margin: 25px 0 50px 0;
        width : 100%;
        display : flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    footer .links a {
        font-weight: 600;
        color : white; 
        margin : 0 5px;
    }

@media only screen and (max-width: 1200px){
    .logo-box > img{
        width : 50%;
        height : 50%;
    }
}
@media only screen and (max-width: 768px){
    .main-header .main-box .outer-container, .main-header .fixed-header .main-box, .main-header .main-box, .main-header {
        background-color: #4bc28b !important;
        transition: all 300ms ease;
        top : 2px;
    }
}
/* css pre dokumentaciu :  */
#sectionContent{
    margin : 50px 0;
}
#showdownDiv{
    padding-top : 50px;
}
#showdownDiv ul {
    list-style: disc;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

#showdownDiv ul li{
    margin-left : 20px;
    list-style: disc;
    list-style-position: inside;
    
}

#showdownDiv ol li {
    margin-left: 20px;
    list-style: decimal;
    list-style-position: inside;
}
#showdownDiv h1 {
    padding-bottom: 20px;
    font-weight: 700;
}
#showdownDiv h2, h3, h4, h5 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
}
#showdownDiv img {
    display : block;
    margin: 40px auto;
    max-width: 1000px;
}
#showdownDiv a {
    font-weight: 700;
    color: #4bc28b;
}
#showdownDiv a:hover {
    color : #1d6145;
}
#breadcrumbs a, #sitemap a {
    font-weight: 700;
    color: #444;
}
#breadcrumbs a:hover, #sitemap a:hover {
    color : #4bc28b;
}
table {
    min-width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    margin-bottom: 35px;
    border-collapse: unset;
}
tr :first-child {
    width: 30%}
tr :last-child {
    border-left: 1px solid rgb(221, 221, 221);
}
tr td strong {
    border-left: 0px !important;
}
td {
    padding: 5px 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
th {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 5px 20px;
}
tr:last-child td {
    border-bottom: none;
}